body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

header {
    background-color: #1b1a22;
    color: #dbdbdb;
    text-align: center;
    height: 60px;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-justify: auto;
    font-size: 26px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.descricao {
    box-shadow: inset 0 0 20px #000;
    text-align: center;
    padding: 30px;
    padding-top: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-justify: auto;
    height: 150px;
    font-size: 64px;
    background-image: url("../images/halo-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.tier-background {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-justify: auto;
    height: 1500px;
    width: 100%;
    font-size: 64px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 60px #000000;
}

.footer {
    background-color: #1b1a22;
    color: #fff;
    text-align: center;
    padding: 15px;
    text-justify: auto;
    font-size: 12px;
}

.background {
    padding-top: 100px;
    height: 1300px;
    background-color: #0f0f0f;
    box-shadow: inset 0 0 40px #000;
}

.flip-card {
    width: 18.2vw;
    height: 21.8vw;
    perspective: 1000px;
    border-radius: 20px;
    position: absolute;
    top: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 23px;
}

.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    box-shadow: inset 0 0 20px #000000;
    border-radius: 20px;
}

.back-video {
    width: 100vw;
    height: 100vh;
    position: relative;
    height: 1500px;
    width: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

}